.background-primary {
  background-color: #1b0088;
}

.background-secondary {
  background-color: #ffffff;
}

a {
  color: #ffffff !important;
  background-color: transparent;
  text-decoration: none;
}

.card-header {
  background-color: #1b0088 !important;
  color: #ffffff;
}

.list-group-item.active {
  background-color: #1b0088 !important;
}
